body {
  font-family: 'Open Sans', sans-serif;
  background: #EFF0F3;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

.pagination {
  width: 100%;
  display: flex;
  margin: 10px auto;
  justify-content: center;
}
