body {
  font-family: "Poppins", sans-serif;
  background: #f1faee;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

.pagination {
  width: 100%;
  display: flex;
  margin: 10px auto;
  justify-content: center;
}
